/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input:focus,
textarea:focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
  min-height: 100%;
  margin: 0 auto -50px;
  /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 50px;
}
.b-content.loading {
  opacity: 0;
}
.b-content:after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
.b-content.not-in-preview,
.b-content.hide-footer {
  padding-bottom: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf > .fr-text {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf > .fr-text {
  opacity: 0 !important;
}
.wf-inactive .fr-wf > .fr-text,
.wf-active .fr-wf > .fr-text {
  opacity: 1;
}
.fr-widget:after,
.fr-widget:before {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-link {
  text-decoration: none;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
  display: block;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-input {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
  text-decoration: inherit !important;
}
.fr-input > input {
  display: block !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
}
.fr-input > input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-input > input::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.fr-linktype-submit .fr-text {
  cursor: default;
}
.fr-widget-hover-opacity-60:hover {
  opacity: 0.6;
}
.fr-widget-hover-scale-up:hover {
  transform: scale(1.1);
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .55rem;
  text-align: center;
  letter-spacing: .14rem;
  margin: 0 auto;
  padding: 1.05rem 0 0.5rem 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: .8rem;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 0.8rem;
  background: #242424;
}
.fr-fork-on-froont {
  position: absolute;
  right: 0;
  top: 0;
  width: 115px;
  height: 115px;
  background-image: url('//froont.com/_static/images/fork-ribbon.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10000;
}
.fr-fork-on-froont:hover {
  background-position: 0 -115px;
}
.fr-anim-initial {
  visibility: hidden;
  opacity: 0 !important;
}
[data-fr-animation].fr-having-animation {
  visibility: hidden;
  opacity: 0 !important;
}
.fr-having-animation.fr-anim-fade-in {
  visibility: hidden;
  opacity: 0 !important;
}
.fr-having-animation.fr-anim-slide-from-top {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
.fr-having-animation.fr-anim-slide-from-right {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.fr-having-animation.fr-anim-slide-from-bottom {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}
.fr-having-animation.fr-anim-slide-from-left {
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.fr-having-animation.fr-anim-result {
  visibility: visible;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  -webkit-transition-property: transform, opacity;
  -moz-transition-property: transform, opacity;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 2.5s;
  -moz-transition-duration: 2.5s;
  -o-transition-duration: 2.5s;
  transition-duration: 2.5s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  opacity: 1 !important;
}
.fr-having-animation.fr-anim-result.fr-anim-fade-in {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/** ******************************** **/
/** End of Froont widget base styles **/
/** ******************************** **/

/** ************************* **/
/** Widget styles             **/
/** ************************* **/
body {
  background: #202020
}
.fr_hi {
  float: none;
  display: block;
  width: 90%;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 3.25em;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: .01em;
  margin-right: auto;
  margin-left: auto;
  color: #f5ff6d
}
.fr_c01_h1 {
  float: none;
  display: block;
  width: 27.714033539276254%;
  vertical-align: top;
  margin-top: 3.65em;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: none
}
.fr_c01_h1 .fr-text {
  min-width: 100%
}
.fr_paragraph_text {
  float: none;
  display: block;
  width: 90%;
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: .01em;
  margin-right: auto;
  margin-left: auto;
  color: #f5ff6d
}
.fr_c01_paragraph_text {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-top: 1.89em;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px
}
.fr_c01_paragraph_text .fr-text {
  min-width: 100%
}
.fr_content_01 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #202020;
  background-image: url(../images/thumbnail/cover-bg_1.jpg_4000x2500.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 60em
}
.fr_co4_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co4_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co4_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0
}
.fr_co3_3_column_grid_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  min-height: 42.4375em
}
.fr_co3_3_column_grid_2>.fr-widget:nth-child(2n+1) {
  margin-top: 3.2em;
  margin-right: 2.1%;
  margin-bottom: 3.2em;
  margin-left: 2.1%;
  width: 45.8%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_2>.fr-widget:nth-child(2n+2) {
  margin-top: 3.2em;
  margin-right: 2.1%;
  margin-bottom: 3.2em;
  margin-left: 2.1%;
  width: 45.8%;
  clear: none;
  max-width: inherit
}
.fr_content_04 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #202020
}
.fr_co4_container {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px
}
.fr_content_03_3 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #202020;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/bg-4-jpg-1600x678_2.jpg_1596x678.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 48.25em
}
.fr_content_03_4 {
  float: none;
  display: block;
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #202020;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/cover-bg-2.jpg_1596x678.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 50em
}
.fr_co3_two_3 {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co3_headline_3 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1.24em;
  margin-right: auto;
  margin-left: 0
}
.fr_co3_headline_3 .fr-text {
  min-width: 100%
}
.fr_co4_3_column_grid {
  float: none;
  display: block;
  width: 104.2%;
  margin-top: 1.19em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
  padding-right: -2.1%;
  padding-bottom: 0;
  padding-left: -2.1%;
  max-width: 980px
}
.fr_co4_3_column_grid>.fr-widget:nth-child(3n+1) {
  margin-top: 4.25em;
  margin-right: 2.1%;
  margin-bottom: 4.25em;
  margin-left: 2.1%;
  width: 29.13%;
  clear: left;
  max-width: inherit
}
.fr_co4_3_column_grid>.fr-widget:nth-child(3n+2) {
  margin-top: 4.25em;
  margin-right: 2.1%;
  margin-bottom: 4.25em;
  margin-left: 2.1%;
  width: 29.13%;
  clear: none;
  max-width: inherit
}
.fr_co4_3_column_grid>.fr-widget:nth-child(3n+3) {
  margin-top: 4.25em;
  margin-right: 2.1%;
  margin-bottom: 4.25em;
  margin-left: 2.1%;
  width: 29.13%;
  clear: none;
  max-width: inherit
}
.fr_h2 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .01em;
  color: #f5ff6d
}
.fr_co4_paragraph_center {
  float: none;
  display: block;
  width: 100%;
  margin-top: -0.56em;
  margin-right: auto;
  margin-left: 0
}
.fr_co4_paragraph_center .fr-text {
  min-width: 100%
}
.fr_content_03_2 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #202020;
  min-height: 54.3125em
}
.fr_content_02 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../images/thumbnail/bg-2.jpg_1600x1200.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 21.6875em
}
.fr_content_03 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #202020
}
.fr_co3_paragraph_text_one_3 {
  float: none;
  display: block;
  width: 100.16666666666667%;
  margin-right: auto;
  margin-left: auto;
  min-height: 24.27777777777778em
}
.fr_co3_paragraph_text_one_3 .fr-text {
  min-width: 100%
}
.fr_paragraph_left_1 {
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  letter-spacing: .01em;
  color: white
}
.fr_h2-1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .01em;
  color: #f5ff6d
}
.fr_co3_headline_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}
.fr_co3_headline_2 .fr-text {
  min-width: 100%
}
.fr_co4_paragraph_text_one {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}
.fr_co4_paragraph_text_one .fr-text {
  min-width: 100%
}
.fr_co3_headline {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}
.fr_co3_headline .fr-text {
  min-width: 100%
}
.fr_co4_paragraph_text_three {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}
.fr_co4_paragraph_text_three .fr-text {
  min-width: 100%
}
.fr_co3_one_3 {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co3_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co3_3_column_grid {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co3_3_column_grid>.fr-widget:nth-child(2n+1) {
  margin-top: 3.2em;
  margin-right: 2.1%;
  margin-bottom: 3.2em;
  margin-left: 0;
  width: 47.9%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid>.fr-widget:nth-child(2n+2) {
  margin-top: 3.2em;
  margin-right: 0;
  margin-bottom: 3.2em;
  margin-left: 2.1%;
  width: 47.9%;
  clear: none;
  max-width: inherit
}
.fr_co3_paragraph_text_two_3 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_co3_paragraph_text_two_3 .fr-text {
  min-width: 100%
}
.fr_co3_3_column_grid_3 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: 0;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  min-height: 30.6875em
}
.fr_co3_3_column_grid_3>.fr-widget:nth-child(2n+1) {
  margin-top: 3.2em;
  margin-right: 2.1%;
  margin-bottom: 3.2em;
  margin-left: 2.1%;
  width: 45.8%;
  clear: left;
  max-width: inherit
}
.fr_co3_3_column_grid_3>.fr-widget:nth-child(2n+2) {
  margin-top: 3.2em;
  margin-right: 2.1%;
  margin-bottom: 3.2em;
  margin-left: 2.1%;
  width: 45.8%;
  clear: none;
  max-width: inherit
}
.fr_co3_paragraph_text_two {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_co3_paragraph_text_two .fr-text {
  min-width: 100%
}
.fr_co4_paragraph_text_two {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_co4_paragraph_text_two .fr-text {
  min-width: 100%
}
.fr_co3_container_3 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px
}
.fr_co3_paragraph_text_one {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}
.fr_co3_paragraph_text_one .fr-text {
  min-width: 100%
}
.fr_paragraph_center_2 {
  float: none;
  display: block;
  width: 39.62930273609885%;
  font-family: Inconsolata;
  font-weight: 400;
  font-size: .8em;
  line-height: 1.35em;
  text-align: center;
  letter-spacing: .01em;
  margin-top: 49.31em;
  margin-right: auto;
  margin-left: 30.19%;
  color: white;
  min-height: 8.153846153846153em
}
.fr_paragraph_center_2 .fr-text {
  min-width: 100%
}
.fr_co3_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co2_paragraph_text {
  float: none;
  display: block;
  width: 90%;
  margin-top: -0.03em;
  margin-right: auto;
  margin-left: auto;
  max-width: none
}
.fr_co2_paragraph_text .fr-text {
  min-width: 100%
}
.fr_co3_two_2 {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_paragraph_center {
  float: none;
  display: block;
  width: 39.62930273609885%;
  font-family: Inconsolata;
  font-weight: 400;
  font-size: .8em;
  line-height: 1.35em;
  text-align: left;
  letter-spacing: .01em;
  margin-right: auto;
  margin-left: auto;
  color: white;
  min-height: 8.153846153846153em
}
.fr_paragraph_center .fr-text {
  min-width: 100%
}
.fr_paragraph_left {
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: .01em;
  color: white
}
.fr_co3_container_2 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px
}
.fr_co3_one_2 {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}
.fr_co3_paragraph_text_two_2 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto
}
.fr_co3_paragraph_text_two_2 .fr-text {
  min-width: 100%
}
.fr_co3_container {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px
}
.fr_co3_paragraph_text_one_2 {
  float: none;
  display: block;
  width: 100.16666666666667%;
  margin-right: auto;
  margin-left: auto;
  min-height: 24.27777777777778em
}
.fr_co3_paragraph_text_one_2 .fr-text {
  min-width: 100%
}
.fr_f2_main_title {
  float: none;
  display: block;
  width: 100%;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: .01em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  color: white;
  min-height: 1.275em
}
.fr_f2_main_title .fr-text {
  min-width: 100%
}
.fr_f2_button {
  float: none;
  display: block;
  width: 10.238305383936453%;
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
  border: none;
  min-height: 1.35em;
  max-width: 300px;
  border-radius: none
}
.fr_f2_button .fr-text {
  min-width: 100%
}
.fr_footer_2 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: -0.060546875em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #202020;
  min-height: 23
}
.fr_f2_sub_text {
  float: none;
  display: block;
  width: 100%;
  font-family: Inconsolata;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: white
}
.fr_f2_sub_text .fr-text {
  min-width: 100%
}
@media screen and (max-width: 1024px) {
  .fr_c01_h1 {
    float: none;
    display: block;
    width: 72.55859375%;
    vertical-align: top;
    margin-top: 3.19em;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c01_h1 .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_c01_paragraph_text {
    float: none;
    display: block;
    vertical-align: top;
    margin-top: 2.67em;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 1024px) {
  .fr_co4_3_column_grid {
    margin-top: 2.88em;
    margin-left: -2.06%
  }
}
@media screen and (max-width: 1024px) {
  .fr_co4_paragraph_center {
    display: block;
    margin-top: -1.35em;
    margin-left: -0.11%
  }
}
@media screen and (max-width: 1024px) {
  .fr_content_02 {
    min-height: 24.25em
  }
}
@media screen and (max-width: 1024px) {
  .fr_h2-1 {
    color: white
  }
}
@media screen and (max-width: 1024px) {
  .fr_paragraph_center_2 {
    float: none;
    display: block;
    width: 85.83984375%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_paragraph_center_2 .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_paragraph_center {
    float: none;
    display: block;
    width: 85.83984375%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_paragraph_center .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_paragraph_left {
    font-family: Inconsolata;
    font-size: 1.5em;
    color: white
  }
}
@media screen and (max-width: 768px) {
  .fr_c01_h1 {
    float: none;
    display: block;
    width: 89.82340494791666%;
    vertical-align: top;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    min-height: 2.375em
  }
  .fr_c01_h1 .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 768px) {
  .fr_c01_paragraph_text {
    display: block;
    vertical-align: top;
    margin-top: .56em;
    margin-left: auto
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_2>.fr-widget:nth-child(2n+1) {
    margin-top: 2.7em;
    margin-right: 2.1%;
    margin-bottom: 2.7em;
    margin-left: 0;
    width: 47.9%;
    clear: left;
    max-width: inherit
  }
  .fr_co3_3_column_grid_2>.fr-widget:nth-child(2n+2) {
    margin-top: 2.7em;
    margin-right: 0;
    margin-bottom: 2.7em;
    margin-left: 2.1%;
    width: 47.9%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co4_3_column_grid>.fr-widget:nth-child(3n+1) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 29.13%;
    clear: left;
    max-width: inherit
  }
  .fr_co4_3_column_grid>.fr-widget:nth-child(3n+2) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 29.13%;
    clear: none;
    max-width: inherit
  }
  .fr_co4_3_column_grid>.fr-widget:nth-child(3n+3) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 29.13%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid>.fr-widget:nth-child(2n+1) {
    margin-top: 2.7em;
    margin-right: 2.1%;
    margin-bottom: 2.7em;
    margin-left: 0;
    width: 47.9%;
    clear: left;
    max-width: inherit
  }
  .fr_co3_3_column_grid>.fr-widget:nth-child(2n+2) {
    margin-top: 2.7em;
    margin-right: 0;
    margin-bottom: 2.7em;
    margin-left: 2.1%;
    width: 47.9%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_co3_3_column_grid_3>.fr-widget:nth-child(2n+1) {
    margin-top: 2.7em;
    margin-right: 2.1%;
    margin-bottom: 2.7em;
    margin-left: 0;
    width: 47.9%;
    clear: left;
    max-width: inherit
  }
  .fr_co3_3_column_grid_3>.fr-widget:nth-child(2n+2) {
    margin-top: 2.7em;
    margin-right: 0;
    margin-bottom: 2.7em;
    margin-left: 2.1%;
    width: 47.9%;
    clear: none;
    max-width: inherit
  }
}
@media screen and (max-width: 768px) {
  .fr_f2_button {
    float: none;
    display: block;
    width: 34.765625%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_f2_button .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 480px) {
  .fr_hi {
    font-size: 3.25em
  }
}
@media screen and (max-width: 480px) {
  .fr_c01_h1 {
    float: none;
    display: block;
    width: 89.90234375%;
    margin-top: 3.81em;
    margin-right: auto;
    margin-left: 5%
  }
  .fr_c01_h1 .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 480px) {
  .fr_c01_paragraph_text {
    display: block;
    margin-top: .61em;
    margin-left: 5%
  }
}
@media screen and (max-width: 480px) {
  .fr_co3_3_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: 2.25em;
    margin-right: 0;
    margin-bottom: 2.25em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_co3_headline_3 {
    display: block;
    margin-top: -0.65em;
    margin-left: 0
  }
}
@media screen and (max-width: 480px) {
  .fr_co4_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 2.1%;
    margin-bottom: .6em;
    margin-left: 2.1%;
    width: 95.8%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_h2 {
    text-align: left
  }
}
@media screen and (max-width: 480px) {
  .fr_h2-1 {
    text-align: left
  }
}
@media screen and (max-width: 480px) {
  .fr_co3_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: 2.25em;
    margin-right: 0;
    margin-bottom: 2.25em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_co3_3_column_grid_3 {
    margin-top: 6em;
    margin-left: 0
  }
  .fr_co3_3_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: 2.25em;
    margin-right: 0;
    margin-bottom: 2.25em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 480px) {
  .fr_paragraph_center_2 {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 480px) {
  .fr_paragraph_center {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 480px) {
  .fr_paragraph_left {
    text-align: left
  }
}
@media screen and (max-width: 480px) {
  .fr_f2_main_title {
    text-align: center
  }
}
@media screen and (max-width: 480px) {
  .fr_f2_button {
    width: 55.625%
  }
  .fr_f2_button .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 480px) {
  .fr_footer_2 {
    display: block;
    margin-top: -0.099609375em;
    margin-left: 0;
    min-height: 28.056640625em
  }
}
@media screen and (max-width: 320px) {
  .fr_hi {
    font-size: 3em;
    margin-top: 0;
    color: white
  }
}
@media screen and (max-width: 320px) {
  .fr_c01_h1 {
    float: none;
    display: block;
    width: 84.0625%;
    vertical-align: top;
    margin-top: 3.67em;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c01_h1 .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 320px) {
  .fr_paragraph_text {
    font-size: 1.0em;
    margin-top: 0;
    color: white
  }
}
@media screen and (max-width: 320px) {
  .fr_c01_paragraph_text {
    display: block;
    vertical-align: top;
    margin-top: 2.06em;
    margin-left: 5%
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_3_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: 3.4em;
    margin-right: 0;
    margin-bottom: 3.4em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_headline_3 {
    display: block;
    margin-top: -1.5em;
    margin-left: 0
  }
}
@media screen and (max-width: 320px) {
  .fr_co4_3_column_grid {
    margin-top: 6.06em;
    margin-left: -2.08%
  }
  .fr_co4_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-right: 2.1%;
    margin-left: 2.1%;
    width: 95.8%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_h2 {
    text-align: left
  }
}
@media screen and (max-width: 320px) {
  .fr_co4_paragraph_center {
    display: block;
    margin-top: -1.5em;
    margin-left: 0
  }
}
@media screen and (max-width: 320px) {
  .fr_h2-1 {
    text-align: center
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_headline_2 {
    margin-top: 0
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_headline {
    margin-top: 0
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_3_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: 3.4em;
    margin-right: 0;
    margin-bottom: 3.4em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_co3_3_column_grid_3 {
    margin-top: 3.06em;
    margin-left: 0
  }
  .fr_co3_3_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: 3.4em;
    margin-right: 0;
    margin-bottom: 3.4em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}
@media screen and (max-width: 320px) {
  .fr_paragraph_center_2 {
    float: none;
    display: block;
    width: 75.859375%;
    margin-right: auto;
    margin-left: auto;
    max-width: none
  }
  .fr_paragraph_center_2 .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 320px) {
  .fr_co2_paragraph_text {
    margin-top: 12px
  }
}
@media screen and (max-width: 320px) {
  .fr_paragraph_center {
    float: none;
    display: block;
    width: 75.859375%;
    margin-right: auto;
    margin-left: auto;
    max-width: none
  }
  .fr_paragraph_center .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 320px) {
  .fr_paragraph_left {
    text-align: left
  }
}
@media screen and (max-width: 320px) {
  .fr_f2_main_title {
    float: none;
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto
  }
}
@media screen and (max-width: 320px) {
  .fr_f2_button {
    display: block;
    width: 81.875%;
    margin-top: 3.44em;
    margin-left: 9.06%;
    min-height: 4.5em
  }
  .fr_f2_button .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 320px) {
  .fr_footer_2 {
    display: block;
    width: 100%;
    vertical-align: top;
    margin-top: -0.05859375em;
    margin-left: 0;
    min-height: 29.20703125em
  }
}

/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/